/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
}

a
{
  text-decoration: none;
  color: #000;
}



/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}




.filtre {
  display: flex;
  gap: 1rem;
  margin: 1.2rem 15rem;
 
}


/* Style général pour tous les boutons filtres */
.filtre-btn {
  border: 2px solid #1d6154; /* vert foncé */
  color: #1d6154;
  border-radius: 60px;
  background-color: transparent;
  padding: 0.6rem 1.4rem;
  border-radius: 999px; /* donne un effet "pill" arrondi */
  font-size: 1rem;
  font-family: 'Syne';
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Style au survol */
.filtre-btn:hover {
  background-color: #1d6154;
  color: white;
}

/* Style du bouton actif */
.filtre-btn.actif {
  background-color: #1d6154;
  color: white;
  border-color: #1d6154;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
/*body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}*/
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
  cursor: pointer;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}



.login-section {
  max-width: 400px;
  margin: 100px auto;
  padding: 40px;
  background-color: #FFFEF8;
  font-family: 'Work Sans', sans-serif;
}

.login-title {
  text-align: center;
  color: #1D6154;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-label {
  margin-bottom: 5px;
  font-size: 0.9rem;
}

.login-input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #fff;
}

.login-button {
  background-color: #1D6154;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.95rem;
}

.login-button:hover {
  background-color: #144c3d;
}

.login-error {
  display: none;
  color: red;
  font-size: 0.85rem;
  margin-top: 10px;
  text-align: center;
}

.login-link {
  margin-top: 15px;
  font-size: 0.85rem;
  text-align: center;
  color: #000;
  text-decoration: underline;
  cursor: pointer;
}

body
{
	 background-color: #FFFEF8;
}


/* Corps du site limité à 1140px */
.container {
  max-width: 1140px;
  margin: auto;
   	height: auto;
	font-family: 'Work Sans' ;
	margin: auto;
}

/*.container {
  	
	  background-color: #FFFEF8;
	max-width: 1140px;
	height: auto;
	margin: auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}*/


/* Footer pleine largeur */
footer {
  width: 100%;
  background-color: white;
  padding: 2em 0em;
  font-family: 'Work Sans' ;
  margin: 0;
}

/* Contenu centré à l'intérieur du footer */
footer nav {
  max-width: 1340px;
  margin: auto;
}

/* Liste dans le footer */
footer nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
}

footer nav ul li

{
	font-family: Work Sans;
font-weight:lighter;
padding: 0;
font-size: 18px;


}

.mes-projets-header {
display: flex;
    
    gap: 10px;
    justify-content: center;
    align-items: baseline;
}

 #edit-btn
{
	display: flex;
	display: none;
    flex-direction: row;
    /* align-items: baseline; */
    justify-content: center;
}



.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: white;
  padding: 2rem;
  max-width: 600px;
  width: 90%;
  font-family: Work Sans;
  border-radius: 10px;
  position: relative;
}

.hidden {
  display: none;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
}


.modal-gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  margin-top: 20px;
}

.modal-gallery figure {
  position: relative;
}

.modal-gallery img {
  width: 100%;
  height: auto;
}

.delete-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  background: black;
  color: white;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 0.8rem;
}


.modal-separator {
  border: none;
  height: 1px;
  background-color: #ccc;
  margin: 30px 0;
}

.modal-footer {
  text-align: center;
  padding-bottom: 30px;
}

#add-photo-btn {
  background-color: #1D6154;
  color: white;
  border: none;
  padding: 10px 25px;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;

  font-family: Syne;
font-weight: 700;



}

#add-photo-btn:hover {
  background-color: #144c41;
}


/* MODALE AJOUT DE PROJET */
/* MODALE AJOUT DE PROJET */

/* Upload */
.upload-zone {
  background-color: #e8f0f6;
  border: none;
  border-radius: 3px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 170px;
}

#placeholder-image {
  width: 70px;
  height: auto;
  opacity: 0.5;
}

.upload-label {
  display: inline-block;
  background: #cbd6dc;
  color: #306685;
  font-weight: 500;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 50px;
  font-size: 14px;
}

.upload-info {
  font-size: 10px;
  color: #666;
}

#photo-preview {
  max-width: 100%;
  margin-top: 10px;
}

.hidden {
  display: none;
}

/* Formulaire */
form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 1rem;
  font-weight: 500;
}

/* Champs Titre et Catégorie */
input,
select {
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  background-color: white;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  width: 100%;
  margin-top: 5px;
}

/* Séparateur entre Catégorie et boutons */
.form-separator {
  margin: 2rem 0 1.5rem 0;
  border-top: 1px solid #B3B3B3;
}

/* Boutons */
.modal-footer {
  display: flex;
  justify-content: center;
}

button {
      background-color: #1D6154;
    color: white;
    border: none;
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: Syne;
    font-weight: 700;
}

button.active {
  background: #1d6154;
  cursor: pointer;
}

/*
.upload-placeholder

{
  width: 450px;
  height: 200px;
  border: 2px solid black;
}*/


#remove-photo {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 22px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

#photo-preview {
  max-width: 100%;
  max-height: 170px;
  object-fit: contain;
  cursor: pointer;
}

#upload-placeholder {
  cursor: pointer;
    display: flex;
    flex-direction: column;
  height: 169px;
}


    /* Zone d'affichage de l'image */
    .display {
        height: 300px;
        width: 100%;
        background-color: #f4f4f4;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px dashed #ccc;
        margin-top: 10px;
    }
    .display img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

#mode-edition-container {
  display: flex;
  justify-content: center;   /* centre horizontalement */
  align-items: center;       /* centre verticalement */
  gap: 10px;                 /* espace entre l’icône et le texte */
  background-color: black;
  height: 45px;
}

#mode-edition-container p {
  color: white;
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
  font-size: 16px;
  margin: 0; /* supprime le décalage causé par le margin par défaut */
}

#mode-edition-container .fa-solid {
  color: white;
  font-size: 18px; /* ajuste la taille de l’icône */
}
